<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="30 seconds">
    <property name="LOGS_HOME" value="/Users/devesahu/Devendra/My Learning/MyProject/Logs/SR"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} ${HOSTNAME} %thread %level %logger{36}@%method:%line - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="FILE-AUDIT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_HOME}/ServiceRegistry.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} ${HOSTNAME} %thread %level %logger{36}@%method:%line - %msg%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_HOME}/ServiceRegistry.%d{yyyy-MM-dd}.log</fileNamePattern>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
    </appender>


    <root level="debug">
        <appender-ref ref="FILE-AUDIT"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>